<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Healthy Vision{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <nav class="flex justify-between items-center p-6 shadow-md">
        <div class="text-2xl font-bold text-blue-600">The Healthy Vision</div>
        <div>
            <a href="{% url 'home' %}" class="text-gray-600 hover:text-blue-600 mx-4">About</a>
            {% if user.is_authenticated %}
            <a href="{% url 'appointment_list' %}" class="text-gray-600 hover:text-blue-600 mx-4">My Appointments</a>
            {% else %}
            <a href="{% url 'login' %}" class="text-gray-600 hover:text-blue-600 mx-4">My Appointments</a>
            {% endif %}
            <a href="{% url 'blog_list' %}" class="text-gray-600 hover:text-blue-600 mx-4">Blog</a>
            <a href="{% url 'contactus' %}" class="text-gray-600 hover:text-blue-600 mx-4">Contact</a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="text-white bg-red-500 px-4 py-2 rounded-lg shadow-md hover:bg-red-600 mx-2">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="text-white bg-blue-600 px-4 py-2 rounded-lg shadow-md hover:bg-blue-700 mx-2">Login</a>
            <a href="{% url 'register' %}" class="text-white bg-green-500 px-4 py-2 rounded-lg shadow-md hover:bg-green-600">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>
